<!DOCTYPE html>
<html>
  <head>
    <title>Buchverzeichnis</title>
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/books.css">
    <script src="./javascripts/global.js"></script>
    <script src="./javascripts/books.js"></script>
  </head>
  <body onload="refreshBooks()">
    <h1>Buchverzeichnis</h1>
    <div id="loading-area">
      <div id="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
      <button id="refresh" class="hidden" onClick="refreshBooks()">Aktualisieren</button></div>
    </div>
    <table id="books" class="center hidden">
      <thead>
        <tr>
          <td>ISBN</td>
          <td>Titel</td>
          <td>Autor</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr data-isbn="_CREATE">
          <td colspan="4"><button class="right" onClick="editOnClick(this)">Neues Buch anlegen</button></td>
        </tr>
      </tfoot>
    </table>
    <template id="book-template" class="hidden">
      <tr data-isbn="">
        <td class="isbn">&nbsp;</td>
        <td class="title">&nbsp;</td>
        <td class="author">&nbsp;</td>
        <td class="actions">
          <button class="right" onClick="deleteOnClick(this)">🗑</button>
          <button class="right" onClick="editOnClick(this)">✏️</button>
        </td>
      </tr>
    </template>
    <template id="edit-template" class="hidden">
      <tr class="edit" data-isbn="">
        <td colspan="4" class="center">
          <div class="book-edit-form">
            <form action="javascript:void(0);">
              <p class="input">
                <label for="isbn">ISBN:</label><br />
                <input type="text" name="isbn" required />
              </p>
              <p class="input">
                <label for="title">Titel:</label><br />
                <input type="text" name="title" required /><br />
              </p>
              <p class="input">
                <label for="author">Autor:</label><br />
                <input type="text" name="author" required /><br />
              </p>
              <p class="input">
                <label for="genre">Genre:</label><br />
                <input type="text" name="genre" list="genres" required /><br />
                <datalist id="genres">
                  <option value="Kriminalroman"></option>
                  <option value="Fantasy"></option>
                  <option value="Science-Fiction"></option>
                  <option value="Liebesroman"></option>
                  <option value="Familienroman"></option>
                  <option value="Reiseroman"></option>
                  <option value="Historischer Roman"></option>
                  <option value="Thriller / Gruselroman"></option>
                  <option value="Sachbuch"></option>
                  <option value="Fremdsprachiges Buch"></option>
                </datalist>
              </p>
              <p class="input">
                <label for="year">Erscheinungsjahr:</label><br />
                <input type="text" name="year" required />
              </p>
              <p class="input">
                <label for="place">Erscheinungsort:</label><br />
                <input type="text" name="place" required />
              </p>
              <p id="response">&nbsp;</p>
              <p class="input">
                <button name="save" onClick="saveOnClick(this)">Speichern</button>
                <button name="cancel" onClick="cancelOnClick(this)">Abbrechen</button>
            </p>
            </form>
          </div>
        </td>
      </tr>
    </template>
  </body>
</html>
