<!DOCTYPE html>
<html>
  <head>
    <title>Buchverzeichnis</title>
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/books.css">
  </head>
  <body>
    <h1>Buchverzeichnis</h1>
    <div id="loading-area">
      <div id="loading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
      <button id="refresh" class="hidden">Aktualisieren</button></div>
    </div>
    <table id="books" class="center hidden">
      <thead>
        <tr>
          <td>ISBN</td>
          <td>Titel</td>
          <td>Autor</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr data-isbn="_CREATE">
          <td colspan="4"><button class="right">Neues Buch anlegen</button></td>
        </tr>
      </tfoot>
    </table>
    <template id="book-template" class="hidden">
      <tr data-isbn="">
        <td class="isbn">&nbsp;</td>
        <td class="title">&nbsp;</td>
        <td class="author">&nbsp;</td>
        <td class="actions">
          <button class="right">🗑</button>
          <button class="right">✏️</button>
        </td>
      </tr>
    </template>
  </body>
</html>
