<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="./stylesheets/global.css">
        <link rel="stylesheet" href="./stylesheets/login.css">
        <script src="./javascripts/global.js"></script>
        <script src="./javascripts/login.js"></script>
    </head>
    <body>
        <h1>Login</h1>
        <div id="login">
          <form action="javascript:void(0);">
            <p class="input">
              <label for="username">Benutzername:</label><br />
              <input type="text" name="username" required="" />
            </p>
            <p class="input">
              <label for="password">Passwort:</label><br />
              <input type="password" name="password" required="" />
            </p>
            <p class="input">
              <button type="submit" id="login-button" onclick="loginOnClick(this)">Anmelden</button>
            </p>
            <p id="response">&nbsp;</p>
          </form>
        </div>
    </body>
</html>
