#books {
  border-collapse: collapse;
  background-color: #7FB174;
  font-size: 18px;
  color: black;
}

#books > thead > tr, #books > tbody > tr, #books > tfoot > tr {
    border: 1px solid #ddd !important;
}

#books > thead > tr > td, #books > tbody > tr > td, #books > tfoot > tr > td {
    border: 1px dotted #ddd;
    padding: 5px;
}

#books > tbody > tr:hover {
    background-color: #7FB174;
}

#books > tbody {
  text-align: left;
}

.right {
    float: right;
}

#loading-area {
  height: 40px;
}

#loading-area > button {
  top: 50%;
}
