#customerdetail_top{
    background-color: #7FB174;
    margin: auto;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

p{
    font-size: 18px;
    margin-bottom: 3px;
}

button{
    background: transparent;
    border-radius: 4px;
    border: 3px solid #fff;
    margin: 20px 10px;

    text-align: center;
    padding: 0.8rem 2rem;
    font: 24px Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #6B8e23;
}
