div{
    margin: auto;
    height: 350px;
    width: 350px;

    background-color: #7FB174;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

input {
    width: 60%;
    padding: 12px 20px;

    margin-top: 25px;
}

button{
    background: transparent;
    border-radius: 4px;
    border: 3px solid #fff;
    margin-top: 20px;

    text-align: center;
    padding: 0.8rem 2rem;
    font: 24px Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #6B8e23;
}
